<!DOCTYPE html>
<html>
	<head>
		<title>Where we're registered</title>
		<link rel="stylesheet" href="css/layout.css"/>
		<link rel="stylesheet" href="css/print.css" media="print"/>
	</head>
	<body class="container">
    <div id="header">
      <p>The wedding of</p>
      <h1>Jenny Lynn Jenkins &amp; Michael Andersen Tracy</h1>
    </div>
		<div id="content">
						<h1>Where we're registered</h1>
      <p><a href="http://www.honeyfund.com/">Honeyfund</a></p>
      <p><a href="http://www.surlatable.com/">Sur la Table</a></p>

		</div>
		<div id="footer">
      <div id="nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="lodging">Places to stay</a></li>
          <li><a href="registry">Where we're registered</a></li>
        </ul>
      </div>
    <!--
			<div class="sunflowers">
        <%= image_tag("sunflower.png") %>
        <%= image_tag("sunflower.png") %>
        <%= image_tag("sunflower.png") %>
			</div>
    -->
		</div>
	</body>
</html>
