<div class="slideshow">
  <%= image_tag("sample_images/cat.jpg") %>
</div>
			<p>Saturday, the 21st of July, 2012.<br>At twelve o'clock in the afternoon.</p>
			<p>St. Lucien's Catholic Church<br>503 Summit Avenue<br>Sprice Pine, NC</p>
