			<h1>Places to stay near the wedding</h1>
			<ul>
				<li><a href="http://www.biglynnlodge.com/">Big Lynn Lodge</a></li>
				<li><a href="http://www.switzerlandinn.com/">Switzerland Inn</a></li>
			</ul>
