<!DOCTYPE html>
<html>
	<head>
		<title>Places to Stay</title>
		<link rel="stylesheet" href="css/layout.css"/>
		<link rel="stylesheet" href="css/print.css" media="print"/>
	</head>
	<body class="container">
    <div id="header">
      <p>The wedding of</p>
      <h1>Jenny Lynn Jenkins &amp; Michael Andersen Tracy</h1>
    </div>
		<div id="content">
						<h1>Places to stay near the wedding</h1>
			<ul>
				<li><a href="http://www.biglynnlodge.com/">Big Lynn Lodge</a></li>
				<li><a href="http://www.switzerlandinn.com/">Switzerland Inn</a></li>
			</ul>

		</div>
		<div id="footer">
      <div id="nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="lodging">Places to stay</a></li>
          <li><a href="registry">Where we're registered</a></li>
        </ul>
      </div>
    <!--
			<div class="sunflowers">
        <%= image_tag("sunflower.png") %>
        <%= image_tag("sunflower.png") %>
        <%= image_tag("sunflower.png") %>
			</div>
    -->
		</div>
	</body>
</html>
